.header {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.header__id_profile{
    margin: 0;
    font-size: 20px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
}
.header__button{
    border: none;
    width: 24px;
    height: 24px;
    background-size: 24px;

}
.header__button_add_card{
    background: no-repeat center url("../../images/icon/icon-plus.svg");
    background-size: 24px;
    margin-right: 10px;
}
.header__button_menu{
    background: no-repeat center url("../../images/icon/icon-menu.svg");
    background-size: 24px;
}
.header__content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}