@import url("../src/vendor/normalize.css");

@import url('./resetDefaultStyles.css');

@import url("../src/vendor/fonts/fonts.css");

body {
  max-width: 375px;
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page_lock{
  overflow: hidden;
}
